@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
/* CSS Document */

body {
    width:100px;
    height:100px;
    background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
    font-family: 'Raleway', sans-serif;
}

.login-center {
    width: 400px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.form-control:focus {
    border-color: #1b5a7c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(24, 204, 162, 0.6);
    outline: 0 none;
    background: rgba(0, 0, 0, 0.2);
}

.form-control {
    border: 1px solid rgba(255, 255, 255, 0.28);
    outline: 0 none;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.1);
}

.input-group-addon {
    border: 1px solid rgba(255, 255, 255, 0.28);
    background: rgba(0, 0, 0, 0.1);
}

.signin_form {
    color: whitesmoke;
}

.input-group {
    margin-bottom: 7px;
}

.input-group input {
    height: 40px;
}

.sign-btn input {
    width: 100px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    background: rgba(0, 0, 0, 0.1);
}

.sign-btn input:hover {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.3);
}

.login_text {
    font-size: 30px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.checkbox {
    display: inline;
    vertical-align: middle;
}

.checkbox label {
    float: right;
    padding-left: 0;
}

.glyphicon {
    color: rgba(245, 245, 245, 0.5);
}

.error-form {
    border: 1px solid rgba(255, 0, 0, 0.5);
}

.focus-input {
    border-color: #1b5a7c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(24, 204, 162, 0.6);
    outline: 0 none;
    background: rgba(0, 0, 0, 0.2);
}