@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
/* CSS Document */

body {
    background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
    font-family: 'Raleway', sans-serif;
}

ul.navbar-nav li {
    background: linear-gradient(180deg, #5de2d0 0%, #3A6073 100%);
}

.login-center {
    width: 400px;
    height: 350px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.signin_form {
    color: whitesmoke;
}

.input-group {
    margin-bottom: 7px;
}

.input-group input {
    height: 40px;
}

.sign-btn input {
    width: 100px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    background: rgba(0, 0, 0, 0.1);
}

.sign-btn input:hover {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.3);
}

.login_text {
    font-size: 30px;
}

.checkbox .cr, .radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

input[type=text], input[type=password] {
    background: rgba(0, 0, 0, 0.1);
}

.login_input {
    padding: 6px 12px !important;
}

.remember_me {
    float: right;
}