body {
    background-image: url(/assets/images/bg2.jpg);
    background-size: cover;
}

.left_menu_item {
    max-height: 25px;
    max-width: 25px;
}

#left_menu {
    margin-top: 15px;
    position: absolute;
    left: -2px;
}

.new_button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(38, 62, 75, 0.3) 0 0 0 40px inset;
}

.new_button {
    color: rgb(58, 96, 115);
    box-shadow: rgba(58, 96, 115, 0.6) 0 0 0 1px inset;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    text-align: center;
    margin: 5px auto;
    width: 58px;
    text-decoration: none !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 16px 16px;
}

.action_button {
    opacity: 0.7;
    margin-right: 5px;
    height: 21px;
    width: auto;
}

.action_button:hover {
    opacity: 1;
}

.table_actions_part {
    width: 10px;
}

.nav-margin {
    height: 70px;
}

#main_nav {
    position: absolute;
    padding-left: 1%;
    padding-right: 2%;
    background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    background: -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    background: -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    background: -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    background: linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    box-shadow: black 0 0 20px;
    margin-bottom: 35px;
    width: 100%;
}

#main_nav li {
    text-shadow: black 2px 2px 3px;
    color: whitesmoke !important;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

#main_nav.navbar-nav li:hover {
    background: rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

#main_nav.navbar-nav li:active {
    background: rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

#main_nav ul li:hover {
    background: rgba(0, 0, 0, 0.3);
}

#main_nav li a {
    color: whitesmoke;
}

.navbar-collapse {
    border: none;
}

.dropdown-menu {
    background: rgba(0, 0, 0, 0.8);
}

.dropdown-menu li {
    color: whitesmoke;
    cursor: pointer;
}

#content {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.datatable {
    border-collapse: separate;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 20px auto;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 100%;
}

.datatable thead {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.datatable thead th {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 16px;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #36596b), color-stop(100%, #223642));
    background-image: -moz-linear-gradient(#36596b, #223642);
    background-image: -webkit-linear-gradient(#36596b, #223642);
    background-image: linear-gradient(#36596b, #223642);
    border-top: 1px solid #36596b;
}

.datatable thead th:first-child {
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.datatable thead th:last-child {
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.datatable tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #5f6062;
    font-size: 13px;
    padding: 13px;
    border-bottom: 1px solid #e0e0e0;
}

.datatable tbody tr:nth-child(2n) {
    background: #f7f7f7;
}

.datatable tbody tr:last-child td {
    border-bottom: none;
}

.datatable tbody tr:last-child td:first-child {
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.datatable tbody tr:last-child td:last-child {
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.datatable tbody:hover > tr:hover td {
    background-color: #dee5e8;;
}


.form-control:focus {
    border-color: #1b5a7c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(24, 204, 162, 0.6);
    outline: 0 none;
    background: rgba(0, 0, 0, 0.2);
}

.form-control {
    border: 1px solid rgba(255, 255, 255, 0.28);
    outline: 0 none;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.1);
}

.input-group-addon {
    border: 1px solid rgba(255, 255, 255, 0.28);
    background: rgba(0, 0, 0, 0.1);
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.checkbox {
    margin: 0;
    display: inline;
    vertical-align: middle;
}

.checkbox label {
    padding-left: 0;
}

.glyphicon {
    color: rgba(245, 245, 245, 0.5);
}

.error-form {
    border: 1px solid rgba(255, 0, 0, 0.5);
}

.checkbox_label {
    font-size: 16px;
}

.focus-input {
    border-color: #1b5a7c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(24, 204, 162, 0.6);
    outline: 0 none;
    background: rgba(0, 0, 0, 0.2);
}

input[type=text], textarea {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.6);
    padding: 5px;
    background: rgba(255, 255, 255, 0.6);
}

input[type=checkbox] {
    display:none;
}

input[type=checkbox] + label
{
    background: transparent url(/assets/icons/checkbox.png) no-repeat 0 0;
    height: 21px;
    opacity: .5;
    width: 20px;
    display:inline-block;
    padding: 0 0 0 0;
    cursor: pointer;
}
input[type=checkbox]:hover + label
{
    background: transparent url(/assets/icons/checkbox.png) no-repeat 0 0;
    opacity: 1;
}

input[type=checkbox]:checked + label
{
    background: transparent url(/assets/icons/checkbox_checked.png) no-repeat 0 0;
    opacity: 1;
}

#details_table td:nth-child(1) {
    text-align: right;
}

#details_table {
    border-collapse: separate;
    background: rgba(255, 255, 255, 0.65);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 20px auto;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 100%;
}

#details_table thead {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#details_table th {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 16px;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #36596b), color-stop(100%, #223642));
    background-image: -moz-linear-gradient(#36596b, #223642);
    background-image: -webkit-linear-gradient(#36596b, #223642);
    background-image: linear-gradient(#36596b, #223642);
    border-top: 1px solid #36596b;
}

#details_table th:first-child {
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

#details_table th:last-child {
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

#details_table tr td {
    width: 50%;
    padding: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #5f6062;
    font-size: 15px;
    border-bottom: 1px solid #e0e0e0;
}

#details_table tr:nth-child(2n) {
    background: rgba(247, 247, 247, 0.3);
}

#details_table tr:last-child td {
    border-bottom: none;
}

#details_table tr:last-child td:first-child {
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#details_table tr:last-child td:last-child {
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
